.pane {
  position: fixed;
  top: 64px; 
  right: 0;
  width: 300px;
  height: calc(100vh - 64px); 
  background: white;
  z-index: 90; 
  
  transform: translateX(105%); 
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  
  padding: 20px;
  box-shadow: -10px 10px 30px rgba(0,0,0,0.5);
}

.pane.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 64px);
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 80;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}